body {    
    align-items: center;
    background-color: black;
}
img{
    width: 30px;
    height: 50px;
    border-radius: 10%;
}
.table {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(2, 88, 13);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 1px 30px rgb(65, 30, 2),
        0 0 2px 60px inset rgb(1, 7, 1),
        0 0 50px 30px rgb(255, 153, 0);        
}
.potArea{
    width: 170px;
    display: flex;
    justify-content: space-between;   
    height: 50px;
}
.potText{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.cenTop{
   display: flex;
   margin-left: 75px;
   margin-right: 75px;   
}
.top{    
    display: flex;    
    justify-content: center;
    padding-top: 5px;
}
.rightTop, .leftTop{
    display: flex;    
    padding-top: 55px;
}
.rightTop, .leftBot{
    transform: rotate(45deg);    
}
.leftTop, .rightBot{
    transform: rotate(-45deg);
}
.leftBot{
    display: flex; 
} 
.rightBot{
    display: flex;
}
.mid{    
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.bot{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.rightMid, .leftMid{
    display: flex;
    transform: rotate(90deg);
}
.player{
    display: flex;
    margin-right: 85px;
    margin-left: 85px;
    margin-top: 65px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 5px;
    
}

.newHand, .fold, .call, .raise, .x2, .x3{
    background-color: rgba(255, 255, 255, 0.1);
    color: aqua;
}